table{
    width:300px;
    height:300px;
    border-collapse: collapse;
}
td{
    width: 100px;
    border:6px solid;
    text-align: center;
}

td:first-of-type{
    border-left-color: transparent;
    border-top-color: transparent;
}
td:nth-of-type(2) {
    border-top-color: transparent;
}
  
td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
}
  
tr:nth-of-type(3) td {
    border-bottom-color: transparent;
}
#container{
    width:300px;
    height: 300px;
}
#players{
    display: flex;
    margin:20px;
}
.name{
    padding-left:10px;
}
.score{
    padding-left:10px;
}
.player{
    display: flex;
    font-size: 20px;
    font-style: bold;
}
#winner{
    margin: 20px;
}
